@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #1a1a1a;
  color: white;
  font-size: calc(16px + 0.25vw);
  font-weight: 100;
  letter-spacing: 0.5px;
  padding: 20px;
}
@media only screen and (min-width : 992px) {
  body {
    padding: 3em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Old Standard TT", Times, serif;
  letter-spacing: -0.5px;
}

h1 {
  font-size: calc(40px + 0.5vw);
  font-weight: 500;
}

h2 {
  font-size: calc(30px + 0.5vw);
  font-weight: 500;
}

h4 {
  font-size: calc(20px + 0.5vw);
  font-weight: 500;
  font-style: italic;
}

.viz {
  border: 1px solid red;
}

.img-responsive {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

h1.h1-title {
  font-size: calc(16px + 1vw);
}

a:link, a:visited {
  color: orange;
  text-decoration: none;
}
a:link:hover, a:visited:hover {
  text-decoration: underline;
}

.show .superscript {
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc(5px + 0.5vw);
  color: hsl(0, 0%, 50%);
}

footer {
  padding-top: 100px;
  font-size: calc(8px + 0.5vw);
  color: hsla(0, 0%, 90%, 0.5);
}
footer hr {
  border: 1px solid hsla(0, 0%, 90%, 0.5);
  margin-bottom: 10px;
}

.old-standard-tt-regular {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}

.old-standard-tt-bold {
  font-family: "Old Standard TT", serif;
  font-weight: 700;
  font-style: normal;
}

.old-standard-tt-regular-italic {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: italic;
}
